.dot-art {
  position: relative;
  display: block;
  /* ブロック要素として表示 */
  z-index: 1;
  /* 背景の上に表示するためにz-indexを設定 */
  margin: 20px 0;
  /* 各セクションの間にスペースを追加 */
}

.dot-art img {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
}

.dot-art .animated {
  display: none;
}

img {
  width: 700px;
height: auto;
image-rendering: pixelated;

  border: 2px solid #333;
  /* これはオプションです */

}
.link-area {
  margin-top: 40px;
  text-align: center;
}

.link-area a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #87ceeb;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #fff;
  box-shadow: 2px 2px 0px #333;
  transition: 0.2s;
}

.link-area a:hover {
  background-color: #5ab0e3;
  transform: translateY(-2px);
}


